:root {
  padding: 0;
  margin: 0;
}
header{
  text-align: center;
  padding-bottom: 1em;
}

body {
  background-color: #aee7e8;
  color: #248ea9;
}

h1 {
  color: #6015E8;
  font-weight: bold;
}

.food{
  background-color:#fafdcb;

}

.toys{
  margin-bottom: 1em;
  background-color: #28c3d4;
}

.summary {
  text-align: center;
}
